<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="tests"/>
<parameter name = "browser" value = "firefox"/>
<test name="Test1">
<classes>
<class name ="scripts.signin.SearchProduct"/>
</classes>
</test>

<parameter name = "browser" value = "chrome"/>
<test name="Test2">
<classes>
<class name ="scripts.signin.SearchProduct"/>
</classes>
</test>

<parameter name = "browser" value = "IE"/>
<test name="Test3">
<classes>
<class name ="scripts.signin.SearchProduct"/>
</classes>
</test>

  
  </test> <!-- Test -->
</suite> <!-- Suite -->
